{{#if (and page.latest (ne page.url page.latest.url))}}
<div class="admonitionblock important latest">
  <table>
    <tbody><tr>
      <td class="icon">
        <i class="fa icon-important" title="Important"></i>
      </td>
      <td class="content">
        <div class="paragraph">
          <p>{{#if page.componentVersion.prerelease}}该版本还在开发，不是很稳定.{{/if}}{{#else}}这里已经有新的版本可用.{{/else}} 想用最新版本, 请使用 <a href="{{{relativize ./page.latest.url}}}">{{page.component.title}} {{page.latest.displayVersion}}</a>!</p>
        </div>
      </td>
    </tr></tbody>
  </table>
</div>
{{/if}}
