<article class="page-404">
  <h1 class="page">404</h1>
  <div class="paragraph">
    <p class="strong">页面找不到.</p>
    <p>{{#with site.homeUrl}}跳转到
        <a href="{{{this}}}">主页</a>{{/with}}</p>
  </div>
</article>
