<footer class="footer">
  <div class="copyright smallest antialiased">
    <p class="footer-p"><a href="https://beian.miit.gov.cn/" target="_blank">蜀ICP备17031147号-3</a></p>
    <p class="footer-p">Copyright © TODAY &amp; 2017 -
      <script>document.write(new Date().getFullYear());</script>
      All Rights Reserved.
    </p>
  </div>
</footer>
