<ul class="projects">
  <li>
    相关文档
    <ul class="projects-list">
      {{#each (related_projects (split page.attributes.related-doc-categories) (split page.attributes.related-doc-projects) (today-projects))}}
        {{> related-project this}}
      {{/each}}
    </ul>
  </li
  <li><a href="{{{relativize '/today-projects.html'}}}">所有文档...</a></li>
</ul>
